<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<form action="register" method="post">
    {%  csrf_token %}

        <input type="text" name="username" placeholder="Enter username "><br>
        <input type="text" name="first_name" placeholder="Enter first_name"><br>
        <input type="text" name="last_name" placeholder="Enter last_name"><br>
        <input type="text" name="email" placeholder="Enter email"><br>
        <input type="text" name="password" placeholder="Enter password"><br>
        <input type="text" name="password1" placeholder="confirm password"><br>
        <input type="submit">


</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>
